* {
    font-family: 'Titillium Web', sans-serif;
    background: #f5f1f1;
}

body {
    background: #464444;
}

.container {
    margin: 0 auto;
    display: block;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 60px;
}

.access-status {
    background-color: #e41425;
    display: none; /* so we can hide and show the message without deleting it and recreating it */
}

.access-status p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: #c53838;
    font-size: 1.2em;
}

.app-header {
    width: 350px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-header p {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    color: #464444;
    margin: 0 auto;
}

.weather-container {
    width: 350px;
    height: 300px;
    background-color: white;
}

.weather-icon {
    width: 350px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature {
    width: 350px;
    height: 90px;
}

.temperature span {
    color: #464444;
    font-size: 0.8em;
}

.temperature p{
    text-align: center;
    padding: 10px;
    margin: 25px;
    color: #464444;
    font-size: 3em;
}

.temperature p:hover {
    cursor: pointer;
}

.temp-description p{
    text-align: center;
    margin: 0;
    padding: 7px;
    color: #464444;
    font-size: 1.2em;
}

.location p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #464444;
    font-size: 0.8em;
}